{% extends 'base.html.twig' %}

{% block content %}

<!-- ---------------------------------------- -->
<link rel="stylesheet" href="assets/signup.css">

<div class="grand-parent flex aic container">
    <div id="message-flash">
    {% for flashMessage in app.flashes('success') %}<div class="alert alert-success" role="alert">{{ flashMessage }}</div>{% endfor %}
    {% for flash_error in app.flashes('verify_code_error') %}<div class="alert alert-danger" role="alert">{{ flash_error }}</div>{% endfor %}
    {% for flash_error in app.flashes('verify_email_error') %} <div class="alert alert-danger" role="alert">{{ flash_error }}</div> {% endfor %} 
    {% for flash_error in app.flashes('verify_email_exist_error') %} <div class="alert alert-danger" role="alert">{{ flash_error }}</div> {% endfor %} 
    </div>
    <div class="form-parent">
        {{ form_start(registrationForm) }}
            <div class="form-container">
                <h1 class="signTitle">Inscription</h1>
                <div class="fields">
                    <div class="fields">
                        <div class="form-group">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.nom) }}
                            {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.prenom) }}
                            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.code) }}
                            {{ form_widget(registrationForm.code, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {# {{ form_label(registrationForm.plainPassword, 'Mot de passe') }} #}
                            {{ form_widget(registrationForm.plainPassword) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.agreeTerms, 'Veuillez accepter les conditions') }}
                            {{ form_widget(registrationForm.agreeTerms) }}
                        </div>
                    </div>
                </div>
                    <div class="submit-container">
                        <button type="submit" class="btn">s'inscrire</button>
                        <p class="link"><a href="{{ path ('app_logout')}}">Avez vous un compte? Connectez-vous</a></p> 
                    </div>
                </div>
            </div> 
        {{ form_end(registrationForm) }}
    </div>
</div>

{# Script pour Faire disparaitre le message dynamique #}
<script type="text/javascript" src="/assets/javascript/messageFlash.js"></script>
<script type="text/javascript">
    hideFlashMessages();
</script>




{% endblock %}
