{% extends 'base.html.twig' %}



{% block content %}
{# --------------link css------------ #}
<link rel="stylesheet" href="assets/signup.css">
<div id="message-flash">
    {% for flash_error in app.flashes('verify_code_error') %}<div class="alert alert-danger" role="alert">{{ flash_error }}</div>{% endfor %}
    {% for flash_error in app.flashes('verify_email_error') %} <div class="alert alert-danger" role="alert">{{ flash_error }}</div> {% endfor %} 
    
</div>
<div class="grand-parent flex aic container">
    <div class="form-parent">
        <div class="form-container">
            <h1 class="signTitle">Inscription</h1>
            {{ form_start(registrationForm) }}
                <div class="fieldset">
                    <div class="form-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.nom) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.prenom) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.code) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword, {
                        label: 'Votre mot de passe',
                    }) }}
                    </div>
                </div>
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="btn">S'isncrire</button>
                <p class="link"><a href="{{ path ('app_login')}}">Avez vous un compte? Connectez-vous</a></p> 
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>




{# Script pour Faire disparaitre le message dynamique #}
<script type="text/javascript" src="/assets/javascript/messageFlash.js"></script>
<script type="text/javascript">
    hideFlashMessages();
</script>

{% endblock %}
